.fixed.w-100p.top-0.z-9.h-8.white.bg-gray-8
  .flrw.h-100p.flc
    //- Title
    .hidden.bold.white.text-6.lg_text-5.sm_flex.rnw.pl-1
      a(href=url.base) Reddimg

    //- Searchbar
    .__searchboxContainer.fla.pl-1.fla.flrnw.flrcv.h-100p.relative
      .__poweredBy.hidden.lg_flex
        .fln Search powered by
        a.fln.ml-01.bold.hover_underline.pointer-events-auto(href=`https://www.algolia.com/?utm_source=instantsearch.js&utm_medium=website&utm_content=${url.base}&utm_campaign=poweredby`) Algolia
      #searchbox.w-100p

    //- Search filters swapper
    label.pointer.white.hover_blue-5.px-1.xl_hidden(for="filters")
      .h-5.w-5
        include /_includes/svg/sliders

    //- Filters
    input.hidden.if(type="checkbox" id="filters")
    .__searchOptions.hidden.xl_flex.then_flex.w-100p.xl_w-auto.px-1.py-1.xl_py-0.bg-gray-8
      .fln.flrnw
        .px-1.md_pr-0
          #filterBucket
        .px-1.md_pr-0.flrnw.flc
          #sortBy
