
a.w-100p.h-100p.relative(href="{{url}}" target="_blank")
  img.lazyload.w-100p.h-100p.object-cover(src="{{picture.placeholder}}" data-src="{{picture.full}}" loading="lazy")
  .absolute.top-0.left-0.right-0.bg-gray-7.bg-opacity-50p.white
    .flrnw.flspb
      .fln.px-02 {{{subreddit}}}
      .fln.px-02 {{{score}}}
  .absolute.bottom-0.left-0.right-0.bg-black.bg-opacity-50p
    .flrnw.flrcv.px-01.py-02
      .white.h-6.overflow-hidden {{{title}}}
