extends /_includes/_layouts/core

block config
  - pageTitle = data.subreddit.name;
  - pageDescription = `${data.subreddit.name} latest images`;

block content
  .flrw
    each record in data.subreddit.records
      a.fln.w-25p.h-18.relative(href=record.url target="_blank")
        - const options = { width: 600 }
        +img.w-100p.h-100p.object-cover(src=record.picture options=options)
        //- .absolute.bottom-0.left-0.right-0.bg-gray-7.bg-opacity-50p
        //-   .p-1.min-h-8.flrnw.flrcv
        //-     .white.bold=record.title

