extends /_includes/_layouts/core

block config
  - pageTitle = "Custom title"
  - pageDescription = "Custom description"
  //- see also: pageAuthor, pageImage, pageTwitter, pageUrl

block content
  each subreddit, name in data
    h2.text-5.bold=name
    .flrw
      each post in subreddit
        if post.images
          each image in post.images
            .fln.w-33p
              a(href=post.url) 
                img(src=image)
