extends /_includes/_layouts/core

block config
  - pageTitle = "Custom title"
  - pageDescription = "Custom description"
  //- see also: pageAuthor, pageImage, pageTwitter, pageUrl

block content
  .container.mx-auto.p-3
    p This website is automatically updated with images from hand picked subreddits
